<%- include("header") -%>

<h2>This is To-Do List app with the help of HTML CSS JS</h2>
<h3>Using EJS concept</h3>

<p>Here I have done 2 separate To-Do list App's which completly function independently over other on a single application server</p>

<%- include("footer") -%>